.modelo02 a{
    display: block;
    text-decoration: none;
    padding: 8px;
    color:white;
    background-color: black;
    margin-bottom:  5px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: gray;
    
}

li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: white;
    color: black;
}

